@using Emergency.Dtos;
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model != null)
{
    <p>
        <strong>Exception Message:</strong> <code>@Model.Exception.Message</code>
    </p>
    <p>
        @Model.Exception.ToString()
    </p>
}


